NEXT_PUBLIC_SUPABASE_URL=https://dtaauyzhjjabkoflikxa.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_JL3U6BTmbJJ2C9a4mNNQUg_xzHaOyk4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR0YWF1eXpoamphYmtvZmxpa3hhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NzkwMzY1MywiZXhwIjoyMTAzNDc5NjUzfQ.S_t3Vdz2KWTrDzHk8bG9Ugdyp6GPuBxi7_qIm4WX_Gs
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR0YWF1eXpoamphYmtvZmxpa3hhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc5MDM2NTMsImV4cCI6MjEwMzQ3OTY1M30.vDx_Y0t7bpsXafYF6bY1nl6K7ixrzkOYlzqvT3Pvp_Y
RAZORPAY_KEY_ID=rzp_test_TWMCd9p2blYjFD
RAZORPAY_KEY_SECRET=cGmcS5CddzJ9cNE4i70q4FNe
